
@{
    ViewBag.Title = "Desautorizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="content error-500-page">
    <section class="section">
        <div class="error-card">
            <div class="error-title-block">
                <h1 class="error-title">401</h1>
                <h2 class="error-sub-title"> Não autorizado. </h2>
            </div>
            <div class="error-container visible">
                <p>Atualize a pagina ou entre em contato com o suporte</p>
            </div>
        </div>
    </section>
</article>

