
@{
    ViewBag.Title = "Relatorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="content">
    <div class="title-search-block">
        <h2>Relatorio</h2>
    </div>
    <div class="card items">
        Em desenvolvimento
    </div>
</article>

