
@{
    ViewBag.Title = "Rank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="content">
    <div class="title-search-block">
        <h2>Classificação geral</h2>
    </div>
    <div class="card items">
        Em desenvolvimento
    </div>
</article>
